<html>
<head>
<title> portfolio</title>
<style>
h1{
color:silver;
background-color:black;
padding-left:450px;
}
a{
<a href="color:black;
background-skyblue;
padding-left:150px;"</a>
}
</style>
</head>
<body>
</body>
</html>